<%- include("partials/head.ejs") -%>
    <div class="home-container">
        <h1 class="welcome-home">Welcome!</h1>
        <div class="home-nav">
            <div class="anchor-wrapper"><a href="/profile">My Profile</a></div>
            <div class="anchor-wrapper"><a href="/jobs">My Job Applications</a></div>
        </div>
        <div class="home-text">
            <p class="home-explanation-text">
                Hello! Welcome to my rendition of a simple job application tracking project,
                as part of my training at BeCode. The site includes simple auth, file hosting
                for CVs as well as profile pictures, and a CRUD api to serve the stored job application
                info.
            </p>
        </div>
    </div>
<%- include("partials/footer.ejs") -%>