<%- include("partials/head.ejs") -%>
<div class="form-container">
    <form>
        <h2 class="anchor-wrapper">Login</h2>
        <div class="inputs-container">
            <div class="input-container">
                <div class="input-text-container">
                    <label for="email">Email:</label>
                    <input type="text" name="email" required />
                </div>
                <div class="email error"></div>
            </div>
            <div class="input-container">
                <div class="input-text-container">
                    <label for="password">Password:</label>
                    <input type="password" name="password" required />
                </div>
                <div class="password error"></div>
            </div>
        </div>
        <button class="anchor-wrapper">Login</button>
        <a href="/signup" class="anchor-wrapper">Not signed up yet? Register!</a>
    </form>
</div>
<script>
        const form = document.querySelector("form");
    
        const emailSelector = document.querySelector(".email.error");
        const passwordSelector = document.querySelector(".password.error");
    
        //reset form
        emailSelector.textContent = "";
        passwordSelector.textContent = "";
    
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            // get values
            const email = form.email.value;
            const password = form.password.value;
            try {
                const result = await fetch("/api/login", {
                    method: "POST",
                    body: JSON.stringify({ email, password }),
                    headers: { "Content-Type": "application/json" }
                })
                const data = await result.json();
                if (data.errors) {
                    emailSelector.textContent = data.errors.email;
                    passwordSelector.textContent = data.errors.password;
                }
                if (data.user) {
                    location.assign("/");
                }
            }
            catch (err) {
            }
        })
    </script>
<%- include("partials/footer.ejs") -%>